<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h1{
            display: inline-block;
        }
        ul{
            float:right;
            font-size:2em;
            
        }
        li{
            display: inline-block;
            margin:1em;
        }
        body{
            background-color: beige;
        }
    </style>
</head>
<body>
    <h1> hello mr. {{name}}</h1>
    <ul>
        <li>home</li>
        <li>help</li>
        <li>contact</li>
        <li>shop</li>
        <li>pro</li>
    </ul>
    <a href="/about">click me</a>
</body>
</html>